milionerzy/files (1)/quiz-simple/n8n/workflows/03_history.json
{
  "name": "Quiz - Historia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "history",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, domain, score, total, created_at FROM quiz_sessions ORDER BY created_at DESC LIMIT 20",
        "options": {}
      },
      "id": "node2",
      "name": "Pobierz historię",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [420, 300],
      "credentials": {
        "mySql": {
          "id": "mysql-cred",
          "name": "MySQL Quiz"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { history: rows } }];"
      },
      "id": "node3",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "id": "node4",
      "name": "Odpowiedź",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Pobierz historię", "type": "main", "index": 0 }]] },
    "Pobierz historię": { "main": [[{ "node": "Format", "type": "main", "index": 0 }]] },
    "Format": { "main": [[{ "node": "Odpowiedź", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": {}
}
